@import url("https://cdnjs.cloudflare.com/ajax/libs/marx/3.0.7/marx.min.css");

main {
  display: flex;
  flex-direction: column;
  height: 65vh;
}

.controls {
  display: flex;
  flex-direction: row;
}

.controls input {
  margin-right: 16px;
}

#tasks {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#tasksList {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

#tasksList ul {
  padding: 0;
  margin: 0;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.task.done .task-text {
  text-decoration: line-through;
}

.task-text {
  flex: 1;
}

.task-delete {
  margin-right: 16px;
}



.overlay {
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.spinner {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}
.spinner .path {
  stroke: white;
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.hide {
  display: none;
}
